/* .card-announcement .social-button {
  margin: 0.6rem 0 0 0;
  text-align: center;
}
.card-announcement .social-button a {
  display: block;
  background-color: var(--btn-bg);
  color: var(--btn-color);
  text-align: center;
  line-height: 2.4;
  margin: 4px 0;
}
.card-announcement .social-button a:hover {
  background-color: var(--btn-hover-color);
} */

.aside-qrcode {
  text-align: center;
  padding-top: 4px;
}

.aside-qrcode img {
  max-width: 100%;
  width: 200px;
  height: 200px;
  margin: 4px 4px -10px 4px;
}